header{
   padding: 0;
   margin-bottom: 50px;
   border-bottom: 1px solid $border-color;
   background: #fff;
   display: flex;
   align-items: center;

   a{
      color: #2c3e50;
      text-decoration: none;
   }
   .logo{
      padding: 20px;
      font-weight: 700;
      color: $secondary-color;
      background: $primary-color;
      margin-right: 15px;
   }
   h1{
      font-weight: 300;
      font-size: 28px;
      color: $primary-color;
      text-transform: capitalize;
      flex: 1;
   }
   .main-nav{
      padding-right: 5px;
      a{
         display: inline-block;
         padding: 10px 15px;
      }
   }
}